In [1]:
def square(num):
    return num ** 2

In [2]:
square(4)

16

In [23]:
my_nums=(12,23,78,89,56,526,23,45,78,12,23)

In [24]:
tuple(map(square,my_nums))

(144, 529, 6084, 7921, 3136, 276676, 529, 2025, 6084, 144, 529)

In [25]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'Even'
    else:
        return mystring[0]

In [26]:
myls=("hello","shekhar","ravi","bablu","munilaal")

In [27]:
tuple(map(splicer,myls))

('h', 's', 'Even', 'b', 'Even')

In [28]:
splicer("kravi")

'k'

In [29]:
def even_check(num):
    if num%2==0:
        return num
    else:
        return 0

In [30]:
list(filter(even_check,my_nums))

[12, 78, 56, 526, 78, 12]

In [31]:
square = lambda num : num**2

In [32]:
square(5)

25

In [33]:
frstltr=lambda string: string[0]

In [34]:
frstltr("shekhar")

's'

In [38]:
list(filter(lambda num : num**2,my_nums))

[12, 23, 78, 89, 56, 526, 23, 45, 78, 12, 23]

####LEGB

In [20]:
#x=50
def printer():
    #x=23
    def prin(x):
        #x=90
        print(x)
    prin(x)

In [49]:
x=40

def func(x):
    print(f'X is {x}')
    x='new value'
    print(f'I just locally changed global x to {x}')

In [50]:
x

40

In [51]:
x=func(45)

X is 45
I just locally changed global x to new value

In [52]:
x=func(x)

X is None
I just locally changed global x to new value

In [54]:
func(23)

X is 23
I just locally changed global x to new value

In [56]:
x=func(x)

X is None
I just locally changed global x to new value

In [66]:
mystr="madam"

In [67]:
urstr=mystr[: :-1]

In [68]:
urstr

'madam'

In [69]:
str(mystr)==str(urstr)

True

In [71]:
def up_low(s):
    ls1=[]
    ls2=[]
    ls=[]
    for word in s:
        if word.isupper():
            ls1.append(word)
        elif word.islower():
            ls2.append(word)
        else:
            ls.append(word)
    x1=len(ls1)
    x2=len(ls2)
    print(f'No. of upper case characters: {x1}')
    print(f'No. of lower case characters: {x2}')

In [73]:
s = 'Hello Mr. SHEKHAR, how are you this fine Tuesday?'
up_low(s)

No. of upper case characters: 10
No. of lower case characters: 28

In [112]:
def multiply(numbers):  
    X=1
    for num in numbers:
        X=X*num
    return X

In [114]:
multiply([1,2,3,-4,6])

-144

In [171]:
mystr="The quick brown fox jumps over the lazy dog"
ls=[]
for char in mystr:
    if char==" ":
        continue
    else:
        ls.append(char.lower())

In [172]:
import string
ls1=[]
for item in string.ascii_lowercase:
    ls1.append(item)

In [177]:
if ls in ls1:
    print("T")
else:
    print("F")

AttributeError: 'list' object has no attribute 'unique'

In [174]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [175]:
ls1

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']